<div class="m-5">
<h1><strong>New Planet</strong></h1>
<%= simple_form_for (@planet) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit   %>
  <% end %>
</div>
<%# link_to plantets_id_path(@planet) %>
