 <h1>New Planet</h1>

<%= simple_form_for (@planet) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit   %>
  <% end %>


<%= link_to "Back To Index", planets_path(@planets) %>
