<div class="showpage">
  <div class="container mt-5">

    <h1 class="planet-title"><strong><%= @planet.name %></strong></h1>
      <div class="show-image-desc">
        <% if @planet.photo.attached? %>
        <%= cl_image_tag (@planet.photo.key) %>
        <% end %>
        <div class="p-3">
        <h4 class="text-start">Hosted by: <%= @planet.user.first_name %> <%= @planet.user.last_name %></h4>

        <h5 class="text">Price per night: £<%= @planet.price%></h5>
        <p><%= @planet.description %></p>

      <% if current_user != @planet.user %>
        <div class="booking-new-form">
          <h1><strong>New Booking for <%= @planet.name %></strong></h1>
            <%= simple_form_for [@booking] do |b| %>
            <%= b.input :planet, :as => :hidden, :input_html => { :value => @planet.id } %>
            <%= b.input :checkin, as: :string, input_html: {type: :date}%>
            <%= b.input :checkout, as: :string, input_html: {type: :date}%>
            <%= b.button :submit, 'Book', class:"btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>

    <div class="m-3">
      <% if current_user && current_user == @planet.user %>
        <%= link_to "Delete Planet", @planet, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to "Edit planet", edit_planet_path, class: "btn btn-warning" %>
      <% end %>
      <%= link_to 'Back To Home', root_path(@planet), class: "btn btn-light" %>
    </div>
  </div>
</div>
