<h1><%= @planet.name %></h1>
<h2>Hosted by: <%= @planet.user.first_name%> <%= @planet.user.last_name %></h2>
<p><%= @planet.description %></p>
<a href="#">Book</a>


<%= link_to "Edit planet", edit_planet_path %>
